/* Flexbox */
body,
.settings,
.settings > div,
#main-section {
    display: flex;
}

body {
    font-family: JetBrains Mono;
    flex-direction: column;
    align-items: center;
    background-color: #e5383b;
    background-image: linear-gradient(43deg, #e5383b 0%, #a4161a 30%, #ff4d6d 66%);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-weight: 900;
}

#grid {
    width: 700px;
    height: 700px;
    border: 1px solid black;
    display: grid;
    background: #ffedd8;
}
.settings {
    color: #ffedd8;
}
.settings.left{
    gap: 100px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-end;
}
.settings > div {
    flex-direction: column;
}
.settings.left,
.settings.right {
    flex-direction: column;
    justify-content: space-between;
}
#gridSizeRangeInput,
#squareColorInput,
#eraser,
#clearButton {
    width: 100px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

#squareColorInput {
    border: none;
    height: 100px;
}
#eraser {
    height: 100px;
    box-sizing: border-box;
    background: #ffedd8;
}
#clearButton {
    color: #ffedd8;
    font-weight: 900;
    height: 100px;
    margin-top: 10px;
    background: inherit;
    border-color: #ffedd8;
    font-family: JetBrains Mono;
    font-size: 20px;
    transition: all .07s ease;
    display: block;
}
#clearButton:hover,
#squareColorInput:hover,
#eraser:hover {

    box-shadow: 0 0 5px #ffc600;
  }
  label {
    text-align: center;
  }
.square {
    box-sizing: border-box;
    border: 0.5px dotted rgba(0, 0, 0, 0.1);
}

.nonDrag {
    /* user-drag: none; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

img {
    width: 400px;
    margin: 30px;
}

.settings {
    margin: 20px;
}

#eraser {
    margin-bottom: 70px;
}
